@import "hints.css";

.hintButton {

    width: 57px;
    height: 30px;
    position: absolute;
    color: #54abc3;

}

:root {
    --calibrationTop: calc(25% - 25px);
    --calibrationLeft: calc(25% - 200px);
    --doorTop: calc(25% - 25px);
    --doorLeft: calc(75% - 200px);
    --lightsTop: calc(50% - 25px);
    --lightsLeft: calc(50% - 200px);
    --replacementPartsTop: calc(75% - 25px);
    --replacementPartsLeft: calc(25% - 200px);
    --towerTop: calc(75% - 25px);
    --towerLeft: calc(75% - 200px);
}


/*--------------------------------------------------------------------------------------------------------*/

#calibration1 {
    top: calc(var(--calibrationTop) - 30px);
    left: calc(var(--calibrationLeft));
}

#calibration2 {
    top: calc(var(--calibrationTop) - 30px);
    left: calc(var(--calibrationLeft) + 57px);
}

#calibration3 {
    top: calc(var(--calibrationTop) - 30px);
    left: calc(var(--calibrationLeft) + 114px);
}

#calibration4 {
    top: calc(var(--calibrationTop) - 30px);
    left: calc(var(--calibrationLeft) + 171px);
}

#calibration5 {
    top: calc(var(--calibrationTop) - 30px);
    left: calc(var(--calibrationLeft) + 228px);
}

/*--------------------------------------------------------------------------------------------------------*/
#door1 {
    top: calc(var(--doorTop) - 30px);
    left: calc(var(--doorLeft));
}

#door2 {
    top: calc(var(--doorTop) - 30px);
    left: calc(var(--doorLeft) + 57px);
}

#door3 {
    top: calc(var(--doorTop) - 30px);
    left: calc(var(--doorLeft) + 114px);
}

#door4 {
    top: calc(var(--doorTop) - 30px);
    left: calc(var(--doorLeft) + 171px);
}

#door5 {
    top: calc(var(--doorTop) - 30px);
    left: calc(var(--doorLeft) + 228px);
}

/*--------------------------------------------------------------------------------------------------------*/

#lights1 {
    top: calc(var(--lightsTop) - 30px);
    left: calc(var(--lightsLeft));
}

#lights2 {
    top: calc(var(--lightsTop) - 30px);
    left: calc(var(--lightsLeft) + 57px);
}

#lights3 {
    top: calc(var(--lightsTop) - 30px);
    left: calc(var(--lightsLeft) + 114px);
}

#lights4 {
    top: calc(var(--lightsTop) - 30px);
    left: calc(var(--lightsLeft) + 171px);
}

#lights5 {
    top: calc(var(--lightsTop) - 30px);
    left: calc(var(--lightsLeft) + 228px);
}

#lights6 {
    top: calc(var(--lightsTop) - 30px);
    left: calc(var(--lightsLeft) + 285px);
}

/*--------------------------------------------------------------------------------------------------------*/

#replacementParts1 {
    top: calc(var(--replacementPartsTop) - 30px);
    left: calc(var(--replacementPartsLeft));
}

#replacementParts2 {
    top: calc(var(--replacementPartsTop) - 30px);
    left: calc(var(--replacementPartsLeft) + 57px);
}

#replacementParts3 {
    top: calc(var(--replacementPartsTop) - 30px);
    left: calc(var(--replacementPartsLeft) + 114px);
}

#replacementParts4 {
    top: calc(var(--replacementPartsTop) - 30px);
    left: calc(var(--replacementPartsLeft) + 171px);
}

#replacementParts5 {
    top: calc(var(--replacementPartsTop) - 30px);
    left: calc(var(--replacementPartsLeft) + 228px);
}

#replacementParts6 {
    top: calc(var(--replacementPartsTop) - 30px);
    left: calc(var(--replacementPartsLeft) + 285px);
}

/*--------------------------------------------------------------------------------------------------------*/

#tower1 {
    top: calc(var(--towerTop) - 30px);
    left: calc(var(--towerLeft));
}

#tower2 {
    top: calc(var(--towerTop) - 30px);
    left: calc(var(--towerLeft) + 57px);
}

#tower3 {
    top: calc(var(--towerTop) - 30px);
    left: calc(var(--towerLeft) + 114px);
}

#tower4 {
    top: calc(var(--towerTop) - 30px);
    left: calc(var(--towerLeft) + 171px);
}

#tower5 {
    top: calc(var(--towerTop) - 30px);
    left: calc(var(--towerLeft) + 228px);
}

/*--------------------------------------------------------------------------------------------------------*/