body {
    background-color: var(--bgColor);
    color: var(--fontColor);
}

h1 {
    text-align: center;
}

/* SIDEBAR STYLE */
.sidebarButton {
    display: block;
    position: absolute;
    left: calc(100% - 60px);
    top: 150px;
    background-color: var(--lowContrast);
}

/* ICON STYLE */
img {
    width: 40px;
    height: 4 0px;
}

#homeButton {
    top: calc(20%);
}

#progressButton {
    top: calc(20% + 50px);
}

#lockButton {
    top: calc(20% + 100px);
}

#settingsButton {
    top: calc(20% + 150px);
}

#infoButton {
    top: calc(20% + 200px);
}