body {
    background-color: #131231;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
}

/* SIDEBAR STYLE */
.sidebarButton {
    display: block;
    position: absolute;
    left: calc(100% - 80px);
    top: 150px;
    background-color: black;
}

/* ICON STYLE */
img {
    width: 40px;
    height: 4 0px;
}

#homeButton {
    top: calc(20%);
}

#progressButton {
    top: calc(20% + 50px);
}

#lockButton {
    top: calc(20% + 100px);
}

#settingsButton {
    top: calc(20% + 150px);
}

#infoButton {
    top: calc(20% + 200px);
}