body {
    background-color: #131231;
    color: white;
    width: 10%;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
}

/* STYLE FOR TAGS */
img {
    width: 40px;
    height: 40px;
}

form {
    color: white;
    text-align: center;
}

/* STYLE FOR IDS */
#videoElement {
    position: absolute;
    /* ratio: 640 x 480 */
    width: 640px;
    height: 480px;
    top: 50%;
	transform:translateY(-50%);
    left: 80px;
}


#submitButton {
    position: absolute;
    top: 600px;
    left: 1090px;
    width: 60px;
}

#light {
    position: absolute; 
    float: left; 
    left: 900px; 
    top: 320px; 
}

#blacklight {
    position: absolute; 
    float: left; 
    left: 900px; 
    top: 340px; 
}
