<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href='/static/css/base.css'>
    <script src="/static/js/generic.js" type="text/javascript"></script>

    <!-- ----------- DEFINING STYLE FOR FLOATING ----------- -->
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            margin-top: 150px;
        }

        .right {
            float: center;
            width: 100px;
            padding: 10px;
            margin: auto;
            margin-top: 20px;
        }
    </style>

</head>

<body>
    <!-- ----------- HEADERS ----------- -->
    <title> MQP - Robot Escape Room </title>
    <h1 class="center"> Remote Connect <br> to RepairBot has <br> been Approved. </h1>

    <!-- ----------- BUTTONS ----------- -->
    <div align="center">
        <button onClick=window.location="{{ url_for('manualv2') }}">Connect</button>
        <button onClick=window.location="{{ url_for('intro_redirect') }}">Return to Intro</button>
    </div>
    
    <!-- ----------- HINT TREE INITIALIZATION ----------- -->
    <script>
        for (let x = 1; x < 28; x++) {
            localStorage.setItem("Hint" + x, "Locked");
        }

        // --- storage variables --- 
        localStorage.setItem("counter", 1);
        localStorage.setItem("curr_puzzle", 1);
        localStorage.setItem("password_prompt", "prompted");
        localStorage.setItem("camera_detect", "false"); 
        localStorage.setItem("light", "false"); 
        localStorage.setItem("blacklight", "false"); 
        // --- storage variables ends --- 

        // --- hint storage --- 
        localStorage.setItem("calibration1", "They always make repairbots like me authenticate, you will have to calibrate me to the room.");
        localStorage.setItem("calibration2", "Where are all the regulation directions? How are you supposed to know which order to drive over the calibration points? Leave it to this crew to throw out the instructions. . .");
        localStorage.setItem("calibration3", "Ugh, those blinking lights are so annoying, is there some way to make em stop?");
        localStorage.setItem("calibration4", "I am almost certain there are three points I have to drive over before I am calibrated to the room.");
        localStorage.setItem("calibration5", "Remember that important panel? It tells you how you're supposed to drive over the panels.");
        localStorage.setItem("Hint1", "Locked");
        localStorage.setItem("Hint2", "Locked");
        localStorage.setItem("Hint3", "Locked");
        localStorage.setItem("Hint4", "Locked");
        localStorage.setItem("Hint5", "Locked");
        localStorage.setItem("door1", "My RAM is too low to store passwords, it should be written somewhere in the room.");
        localStorage.setItem("door2", "Oi newbie, have you even read my instruction manual? All my controls have explanations, maybe if you read them you can figure out how to control me.");
        localStorage.setItem("door3", "Walrus sure does love to write things in hidden messages, I wonder if there's anything written in here that you can't see with just your human vision…");
        localStorage.setItem("door4", "Hmmm, my sensors are tellin' me that there are two chemical compounds on the wall being used here to write with, maybe one of 'em's more important?");
        localStorage.setItem("door5", " I bet Bravo put Walrus up to writing this password as a word unscramble, they're always going on about increasing security. Not that security ever stopped Walrus from making spaceship themed passwords. . .");
        localStorage.setItem("door6", "Hmmmm. . . I see the word Rock in there, but that doesn't have anything to do with the ship. . .");
        localStorage.setItem("Hint6", "Locked");
        localStorage.setItem("Hint7", "Locked");
        localStorage.setItem("Hint8", "Locked");
        localStorage.setItem("Hint9", "Locked");
        localStorage.setItem("Hint10", "Locked");
        localStorage.setItem("Hint11", "Locked");
        localStorage.setItem("lights1", "Every external plate with comes with a code, if you open your fleshy visual apparatuses a little better you would probably be able to see it out there");
        localStorage.setItem("lights2", "I can remote connect into the electrical panel, so I will not be rolling into that godforsaken void to reset the fuse anytime soon.");
        localStorage.setItem("lights3", "Every panel has a unique code with it, there should be one somewhere. . .");
        localStorage.setItem("lights4", "You know it is kinda nice that most of this stuff gets written down so close to where you need it. Not great for security, but very nice and easy for me.");
        localStorage.setItem("lights5", "Listen it was not my idea to switch to pattern locks instead of reset codes, but Bravo insisted we needed to cover our asses on hack defense somewhere. . .");
        localStorage.setItem("lights6", "I think Frenzy drawing the symbol here on all the panels kinda defeats the purpose of it as security though.")
        localStorage.setItem("Hint11", "Locked");
        localStorage.setItem("Hint12", "Locked");
        localStorage.setItem("Hint13", "Locked");
        localStorage.setItem("Hint14", "Locked");
        localStorage.setItem("Hint15", "Locked");
        localStorage.setItem("Hint16", "Locked");
        localStorage.setItem("replacementParts1", "insert part hint1");
        localStorage.setItem("replacementParts2", "insert part hint2");
        localStorage.setItem("replacementParts3", "insert part hint3");
        localStorage.setItem("replacementParts4", "insert part hint4");
        localStorage.setItem("replacementParts5", "insert part hint5");
        localStorage.setItem("replacementParts6", "insert part hint6");
        localStorage.setItem("Hint17", "Locked");
        localStorage.setItem("Hint18", "Locked");
        localStorage.setItem("Hint19", "Locked");
        localStorage.setItem("Hint20", "Locked");
        localStorage.setItem("Hint21", "Locked");
        localStorage.setItem("Hint22", "Locked");
        localStorage.setItem("tower1", "Well, I may not be a genius, but I am pretty sure we should be fixing the giant metal transmitter. You know, the one they dispatched you to work on?");
        localStorage.setItem("tower2", "Listen newbie, it is not that hard, just open up the access panel and get to work.");
        localStorage.setItem("tower3", "Ah man, I forgot about the authenticator, humans are just as good at pattern recognition as robots right? *grumbling* I would be able to store this information if you just upgraded my hardware. . .");
        localStorage.setItem("tower4", "Ah man looks like the auto recycler already got rid of the busted parts. I swear one day that thing is gonna glitch out and recycle the engine, but I bet you are grateful you only have to replace those parts without uninstalling them");
        localStorage.setItem("tower5", "The part placement is pretty straightforward, if it does not fit, it does not belong.");
        localStorage.setItem("Hint23", "Locked");
        localStorage.setItem("Hint24", "Locked");
        localStorage.setItem("Hint25", "Locked");
        localStorage.setItem("Hint26", "Locked");
        localStorage.setItem("Hint27", "Locked");
        // --- hint storage ends --- 
    </script>

</body>

</html>