<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href='/static/sidebar.css'>
    <link rel="stylesheet" href='/static/styles.css'>
    <link rel="import" href="{{ url_for('hint') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"> </script>
    <script src="/static/mqtt.js" type="text/javascript"></script>
</head>

<body onload=setup()>
    <!-- <body> -->
    <!-- ----------- HEADERS ----------- -->
    <title> MQP - Robot Escape Room </title>
    <!-- <h1> MQP - Robot Escape Room </h1> -->
    <div id="sqr">
        <img src="{{ url_for('video_feed') }}" id="videoElement">
        </video>
    </div>

    <!-- ----------- SIDEBAR BUTTONS ----------- -->
    <button class="sidebarButton" type="button" id="homeButton" onclick=window.location="{{ url_for('main') }}"> <img
            src="static/Images/Home.png"></button>

    <!-- <button class="sidebarButton" type="button" id="progressButton" onclick=window.location="{{ url_for('progress') }}">
        <img src="static/Images/Progress.png"></button> -->

    <button class="sidebarButton" type="button" id="lockButton" onclick=window.location="{{ url_for('hint') }}"> <img
            src="static/Images/Hint.png"></button>

    <!-- <button class="sidebarButton" type="button" id="settingsButton" onclick=window.location="{{ url_for('settings') }}">
        <img src="static/Images/Settings.png"></button> -->

    <button class="sidebarButton" type="button" id="infoButton" onclick=window.location="{{ url_for('manual') }}"> <img
            src="static/Images/Info.png"></button>

    <button id="hintButton" onClick=printHint()> Hint </button>

    <!-- <img src="static/Images/Background.svg" class = "Background" id = "Background">  -->

    <!-- ROBOT FUNCTIONALITY -->
    <input id="camera_detect" type="checkbox" onclick="return false;"></input>
    <!-- <div id = "camera_checkmark"> &#x2713 </div> --> 
    <div id="camera_detect" style="margin-left: 25px;">Scan Code</div>
    <input id="light" type="checkbox" onclick="return false;"></input>
    <div id="light" style="margin-left: 25px;"> Light</div>
    <input id="blacklight" type="checkbox" onclick="return false;"></input>
    <div id="blacklight" style="margin-left: 25px;">Blacklight</div>

    <!-- HINT BOX AND INPUT -->
    <img id="fish" class="fishMain" src="static/Images/Robot.png"> </img>
    <div id="hint_input" class="fishMain"> </div>

    <!-- PUZZLE 3 SYMBOLS AND SUBMIT BUTTON -->
    <!-- <div id="puzzle3"> </div>
    <img id="alpha" src="static/Images/greek_alpha.png"> </img>
    <img id="delta" src="static/Images/greek_delta.png"> </img>
    <img id="epsilon" src="static/Images/greek_epsilon.png"> </img>
    <img id="mu" src="static/Images/greek_mu.png"> </img>
    <img id="sigma" src="static/Images/greek_sigma.png"> </img>
    <img id="theta" src="static/Images/greek_theta.png"> </img>
    <input type="checkbox" id="alphaBox" />
    <input type="checkbox" id="deltaBox" />
    <input type="checkbox" id="epsilonBox" />
    <input type="checkbox" id="muBox" />
    <input type="checkbox" id="sigmaBox" />
    <input type="checkbox" id="thetaBox" />
    <button id="submitButton" onClick=submitSymbols()> Submit </button> -->

    <!-- <button onClick=show()> Show </button> -->

    <!-- ----------- FUNCTIONS ----------- -->
    <script>
        var client;
        // PRINTS NEXT HINT FOR 
        function printHint() {
            let counter = parseInt(localStorage.getItem("counter"));
            let curr_puzzle = parseInt(localStorage.getItem("curr_puzzle"));
            let hint_num = -1;
            if (counter >= 1 && counter <= 10) {
                hint_num = (counter - 1) % 5 + 1;
            } else if (counter >= 11 && counter <= 22) {
                hint_num = (counter - 11) % 6 + 1;
            } else if (counter >= 23 && counter <= 27) {
                hint_num = (counter - 23) % 5 + 1;
            }

            if (counter <= 5) {
                // alert(localStorage.getItem("calibration" + hint_num));
                document.getElementById("hint_input").innerHTML = localStorage.getItem("calibration" + hint_num);
                localStorage.setItem("Hint" + counter, "Unlocked");
                counter = counter + 1;
            } else if (counter >= 6 && counter <= 10 && curr_puzzle >= 2) {
                // alert(localStorage.getItem("door" + hint_num));
                document.getElementById("hint_input").innerHTML = localStorage.getItem("door" + hint_num);
                localStorage.setItem("Hint" + counter, "Unlocked");
                counter = counter + 1;
            } else if (counter >= 11 && counter <= 16 && curr_puzzle >= 3) {
                // alert(localStorage.getItem("lights" + hint_num));
                document.getElementById("hint_input").innerHTML = localStorage.getItem("lights" + hint_num);
                localStorage.setItem("Hint" + counter, "Unlocked");
                counter = counter + 1;
            } else if (counter >= 17 && counter <= 22 && curr_puzzle >= 4) {
                // alert(localStorage.getItem("replacementParts" + hint_num));
                document.getElementById("hint_input").innerHTML = localStorage.getItem("replacementParts" + hint_num);
                localStorage.setItem("Hint" + counter, "Unlocked");
                counter = counter + 1;
            } else if (counter >= 23 && counter <= 27 && curr_puzzle >= 5) {
                // alert(localStorage.getItem("tower" + hint_num));
                document.getElementById("hint_input").innerHTML = localStorage.getItem("tower" + hint_num);
                localStorage.setItem("Hint" + counter, "Unlocked");
                counter = counter + 1;
            } else {
                alert("Check the Hints Page");
            }

            localStorage.setItem("counter", counter);
        }

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function wait(sec) {
            localStorage.setItem("password_prompt", "denied");
            await sleep(sec * 1000); // sleep for 'sec' seconds 
            localStorage.setItem("password_prompt", "prompted");
        }

        function scanPassword() {
            let answer = window.prompt("Enter the Password (6 characters)");

            if (answer == "ROCKET" || answer == "rocket" || answer == "Rocket") {
                alert("Password Accepted");
                localStorage.setItem("password_prompt", "accepted");
                sleep(100);
                window.location = "{{ url_for('rotate_puzzle') }}";
            }
            else {
                alert("Password Denied \nWait for 5 seconds until you can scan again.");
                wait(5);
            }
        }

        // function hide() {
        //        document.getElementById("camera_checkmark").style.visibility = hidden; 
        //     document.getElementById("puzzle3").style.visibility = "hidden";
        //     document.getElementById("alpha").style.visibility = "hidden";
        //     document.getElementById("delta").style.visibility = "hidden";
        //     document.getElementById("epsilon").style.visibility = "hidden";
        //     document.getElementById("mu").style.visibility = "hidden";
        //     document.getElementById("sigma").style.visibility = "hidden";
        //     document.getElementById("theta").style.visibility = "hidden";
        //     document.getElementById("alphaBox").style.visibility = "hidden";
        //     document.getElementById("deltaBox").style.visibility = "hidden";
        //     document.getElementById("epsilonBox").style.visibility = "hidden";
        //     document.getElementById("muBox").style.visibility = "hidden";
        //     document.getElementById("sigmaBox").style.visibility = "hidden";
        //     document.getElementById("thetaBox").style.visibility = "hidden";
        //     document.getElementById("submitButton").style.visibility = "hidden";
        // }

        // function show() {
            // document.getElementById("camera_checkmark").style.visibility = visible; 
        //     counter = 6;
        //     curr_puzzle = 2;
        //     localStorage.setItem("curr_puzzle", 3);
        //     document.getElementById("puzzle3").style.visibility = "visible";
        //     document.getElementById("alpha").style.visibility = "visible";
        //     document.getElementById("delta").style.visibility = "visible";
        //     document.getElementById("epsilon").style.visibility = "visible";
        //     document.getElementById("mu").style.visibility = "visible";
        //     document.getElementById("sigma").style.visibility = "visible";
        //     document.getElementById("theta").style.visibility = "visible";
        //     document.getElementById("alphaBox").style.visibility = "visible";
        //     document.getElementById("deltaBox").style.visibility = "visible";
        //     document.getElementById("epsilonBox").style.visibility = "visible";
        //     document.getElementById("muBox").style.visibility = "visible";
        //     document.getElementById("sigmaBox").style.visibility = "visible";
        //     document.getElementById("thetaBox").style.visibility = "visible";
        //     document.getElementById("submitButton").style.visibility = "visible";
        //  }

        // function submitSymbols() {
        //     if (document.getElementById("alphaBox").checked == true &&
        //         document.getElementById("deltaBox").checked == false &&
        //         document.getElementById("epsilonBox").checked == true &&
        //         document.getElementById("muBox").checked == false &&
        //         document.getElementById("sigmaBox").checked == false &&
        //         document.getElementById("thetaBox").checked == true
        //     ) {
        //         window.location = "{{ url_for('rotate_puzzle') }}";
        //     } else {
        //         alert("Incorrect, Please Try Again");
        //     }
        // }

        // --- MQTT Setup --- 

        function startConnect() {
            // Creating a new client instance 
            clientID = "website-escape-room";
            host = "mqtt.eclipseprojects.io",
                port = 80;
            client = new Paho.MQTT.Client(host, Number(port), clientID);
            client.onMessageArrived = onMessageArrived;
            client.connect({
                onSuccess: onConnect
            });
        }

        // TODO: add topics to subscribe accordingly 
        function onConnect() {
            // client.subscribe("robot/test");
            client.subscribe("robot/aruco");
            client.subscribe("robot/puzzle");
            client.subscribe("robot/function");
            client.subscribe("room/puzzle");
            client.subscribe("website/status");
            console.log("successfully connected to topics.");
            publishMessage("robot/function", "enable move");
        }

        // TODO: change topic names and msgs accordingly 
        function onMessageArrived(msg) {
            console.log("OnMessageArrived: " + msg.payloadString + "\tfrom Topic: " + msg.destinationName);
            // set current puzzle flag (for hint display, etc)
            if (msg.destinationName == "room/puzzle") {
                curr_puzzle = parseInt(msg.payloadString);
                localStorage.setItem("curr_puzzle", curr_puzzle);
                if (curr_puzzle == 1) {
                    localStorage.setItem("counter", 1);
                } else if (curr_puzzle == 2) {
                    localStorage.setItem("counter", 6);
                    for (let i = 1; i < 6; i++) {
                        localStorage.setItem("Hint" + i, "Unlocked");
                    }
                } else if (curr_puzzle == 3) {
                    localStorage.setItem("counter", 11);
                    for (let i = 6; i < 11; i++) {
                        localStorage.setItem("Hint" + i, "Unlocked");
                    }
                } else if (curr_puzzle == 4) {
                    localStorage.setItem("counter", 17);
                    for (let i = 11; i < 17; i++) {
                        localStorage.setItem("Hint" + i, "Unlocked");
                    }
                } else if (curr_puzzle == 5) {
                    localStorage.setItem("counter", 23);
                    for (let i = 17; i < 23; i++) {
                        localStorage.setItem("Hint" + i, "Unlocked");
                    }
                }
            }
            // lose the game if esc is pressed 
            if (msg.destinationName == "website/status") {
                if (msg.payloadString == "escape") {
                    window.location = "{{ url_for('end_page') }}";
                }
            }
            // puzzle wizard of oz 
            if (msg.destinationName == "robot/puzzle") {
                if (msg.payloadString == "1") {
                    localStorage.setItem("curr_puzzle", parseInt(msg.payloadString));
                } else if (msg.payloadString == "2") {
                    localStorage.setItem("curr_puzzle", parseInt(msg.payloadString));
                } else if (msg.payloadString == "3") {
                    localStorage.setItem("curr_puzzle", parseInt(msg.payloadString));
                } else if (msg.payloadString == "4") {
                    localStorage.setItem("curr_puzzle", parseInt(msg.payloadString));
                } else if (msg.payloadString == "5") {
                    localStorage.setItem("curr_puzzle", parseInt(msg.payloadString));
                }
            }
            // toaster pop-up for password prompt
            if (msg.destinationName == "robot/aruco" && localStorage.getItem("password_prompt") == "prompted") {
                if (msg.payloadString == "aruco valid") {
                    // if simon says is completed 
                    if (parseInt(localStorage.getItem("curr_puzzle")) >= 2) {
                        scanPassword();
                        // show rotate puzzle if password is correct 
                        if (localStorage.getItem("password_prompt") == "accepted") {
                            window.location = "{{ url_for('rotate_puzzle') }}";
                        }
                    } else {
                        alert("The room is not calibrated!");
                        wait(3);
                    }
                }
            }
            // set robot functionality (on/off)
            if (msg.destinationName == "robot/function") {
                if (msg.payloadString == "enable scan") {
                    document.getElementById("camera_detect").checked = true;
                    localStorage.setItem("camera_detect", "true");
                } else if (msg.payloadString == "disable scan") {
                    document.getElementById("camera_detect").checked = false;
                    localStorage.setItem("camera_detect", "false");
                } else if (msg.payloadString == "enable light") {
                    document.getElementById("light").checked = true;
                    localStorage.setItem("light", "true");
                } else if (msg.payloadString == "disable light") {
                    document.getElementById("light").checked = false;
                    localStorage.setItem("light", "false");
                } else if (msg.payloadString == "enable blacklight") {
                    document.getElementById("blacklight").checked = true;
                    localStorage.setItem("blacklight", "true");
                } else if (msg.payloadString == "disable blacklight") {
                    document.getElementById("blacklight").checked = false;
                    localStorage.setItem("blacklight", "false");
                }
            }
        }

        function publishMessage(topic, msg) {
            Message = new Paho.MQTT.Message(msg);
            Message.destinationName = topic;

            client.send(Message);
            console.log("topic: " + topic + "\tmsg: " + msg);
        }
        // --- MQTT Setup Ends ---

        function text2speech() {
            var msg = new SpeechSynthesisUtterance();
            msg.text = "Hello World";
            window.speechSynthesis.speak(msg);
        }

        function set_robot_function() {
            camera_enabled = localStorage.getItem("camera_detect");
            light_enabled = localStorage.getItem("light");
            blight_enabled = localStorage.getItem("blacklight");
            document.getElementById("camera_detect").checked = (camera_enabled == "true");
            document.getElementById("light").checked = (light_enabled == "true");
            document.getElementById("blacklight").checked = (blight_enabled == "true");
        }

        function setup() {
            startConnect();
            set_robot_function();
            hide();
        }

    </script>

</body>

</html>