<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href='/static/manualv2.css'>
    <link rel="stylesheet" href='/static/sidebar.css'>
</head>

<body>
    <!-- ----------- HEADERS ----------- -->
    <title> MQP - Robot Escape Room </title>
    <h1> Robot Manual </h1>

    <!-- ----------- BUTTONS ----------- -->
    <div>
        <button type="button" id="toMainButton" onclick=window.location="{{ url_for('main') }}">
        To Main </button>

    <!-- ----------- DESCRIPTION OF TOOLS ----------- -->

    <div id="box">
        <img class="control" src="static/Images/robot_control.png">
        <img class="control" src="static/Images/camera_control.png">
        <img class="control" src="static/Images/robot_function.png">
    </div>

    <p>
        <!-- Drive: Controls the robot's movement. <br>
        Gripper: Controls the movement of the robot's arm. <br> -->
        Hint: Provides a hint should you want one. <br>
        Light: Shines a light. <br>
        <!-- Magnet: Turns the magnet on/off. <br> -->
        Black light: Shines a UV light that may reveal hidden messages written on the wall. <br>
        Self Destruct: TBD. <br>
        Camera up/Camera down: Controls the vertical movement of the camera. <br>
    </p>

</body>

</html>