<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href='/static/css/sidebar.css'>
    <script src="/static/js/generic.js" type="text/javascript"></script>
</head>

<body>
    <!-- ----------- HEADERS ----------- -->
    <title> MQP - Robot Escape Room </title>
    <h1> Progress </h1>

    <!-- ----------- BUTTONS ----------- -->
    <button class="sidebarButton" type="button" id="homeButton" onclick=window.location="{{ url_for('main') }}"> <img
        src="static/Images/Home.png"></button>

<button class="sidebarButton" type="button" id="progressButton" onclick=window.location="{{ url_for('progress') }}"> <img
        src="static/Images/Progress.png"></button>

<button class="sidebarButton" type="button" id="lockButton" onclick=window.location="{{ url_for('hint') }}"> <img
        src="static/Images/Hint.png"></button>

<button class="sidebarButton" type="button" id="settingsButton" onclick=window.location="{{ url_for('settings') }}"> <img
        src="static/Images/Settings.png"></button>

<button class="sidebarButton" type="button" id="infoButton" onclick=window.location="{{ url_for('manual') }}"> <img
        src="static/Images/Info.png"></button>

</body>

</html>