<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href='/static/sidebar.css'>
    <link rel="stylesheet" href='/static/settings.css'>
</head>

<body>

    <!-- ----------- HEADERS ----------- -->
    <title> MQP - Robot Escape Room </title>
    <h1> Settings </h1>

    <!-- ----------- BUTTONS ----------- -->
    <button class="sidebarButton" type="button" id="homeButton" onclick=window.location="{{ url_for('main') }}"> <img
        src="static/Images/Home.png"></button>

<button class="sidebarButton" type="button" id="progressButton" onclick=window.location="{{ url_for('progress') }}"> <img
        src="static/Images/Progress.png"></button>

<button class="sidebarButton" type="button" id="lockButton" onclick=window.location="{{ url_for('hint') }}"> <img
        src="static/Images/Hint.png"></button>

<button class="sidebarButton" type="button" id="settingsButton" onclick=window.location="{{ url_for('settings') }}"> <img
        src="static/Images/Settings.png"></button>

<button class="sidebarButton" type="button" id="infoButton" onclick=window.location="{{ url_for('manual') }}"> <img
        src="static/Images/Info.png"></button>


    <!-- ----------- *** NOT SURE WHAT THIS IS *** ----------- -->
    <label class="switch">
        <input class="switch-input" type="checkbox" />
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
    </label>

    <!-- ----------- CONTAINS ALL SLIDERS ----------- -->
    <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="volume">
        <label for="volume">Volume</label>
        <input type="range" min="1" max="100" value="50" class="slider" id="difficulty">
        <label for="volume">Difficulty</label>
        <input type="range" min="1" max="100" value="50" class="slider" id="diaglogueVolume">
        <label for="volume">Dialogue Volume</label>
    </div>

</body>

</html>